<!DOCTYPE html>
<html lang="tr">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Admin Girişi</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">


</head>

<body>

<div class="login-box">
    <h1>Yönetici Girişi</h1>
    <p>Lütfen yetkili şifreyi giriniz.</p>

    <form method="POST">
        <input type="password" name="password" placeholder="Şifre" required>
        <button class="login-btn" type="submit">Giriş Yap</button>
    </form>

    {% if error %}
        <div class="error">{{ error }}</div>
    {% endif %}
</div>

</body>
</html>
