<!DOCTYPE html>
<html lang="tr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cumhurbaşkanlığına En Yakın Kim?</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}?v={{ uuid() }}">
  <script src="{{ url_for('static', filename='js/index.js') }}?v={{ uuid() }}" defer></script>
</head>

<body>

<h1>Adayını Sırala</h1>
<p class="desc">Daha çok istediğinizi önce tıklayınız</p>

<div class="board">
  {% for c in candidates %}
 <article class="card" data-name="{{ c.name }}">
     <div class="remove-btn" onclick="removeCandidate('{{ c.name }}', event)">✖</div>
  <div class="rank-badge" id="badge-{{ c.name }}">–</div>
  <img class="thumb" src="{{ c.img }}" alt="{{ c.name }}">
  <div class="name">{{ c.name }}</div>
</article>
  {% endfor %}
</div>
<button id="resetBtn" class="btn-reset">Tümünü Sıfırla</button>
<div id="selectionBox">
  <h2>Seçtiğiniz Sıralama</h2>
  <ol id="orderList"></ol>
</div>

<button id="saveBtn" class="btn">Kaydet</button>

</body>
</html>
